
.init{
    box-sizing: border-box;
    position: relative;
    width: 100vw;
    height: 90%;
    background: var(--gradientd-bg);
    z-index: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    display: inline-block;
}
.avatar {
    width: 60vw;
    min-width: 300px;
    max-width: 465px;
    min-height: 300px;
    max-height: 465px;
    height: auto;
}
.beard,.face-tilt,.head__rotation,.head__yaw,.neck__shadow {
    transform-origin: 50% 80%
}

.avatar--ready .beard,.avatar--ready .ears__left,.avatar--ready .ears__right,.avatar--ready .face-tilt,.avatar--ready .head__rotation,.avatar--ready .head__yaw,.avatar--ready .mouth {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000;
    transition: transform .35s ease-out
}
.avatar--ready .neck__shadow {
    will-change: transform;
    backface-visibility: hidden;
    perspective: 1000;
    transition: transform .4s ease-in-out
}

.avatar--ready .neck__adamsapple {
    will-change: transform;
    animation: breath 2.5s ease-in-out infinite alternate
}

.avatar--ready .head__y {
    will-change: transform;
    animation: breathHead 2.5s ease-in-out infinite alternate
}

.avatar--ready .nose__breath {
    will-change: transform;
    animation: breathNose 2.5s ease-in-out infinite alternate
}

.avatar--ready .eyes__x,.avatar--ready .eyes__y {
    backface-visibility: hidden;
    perspective: 1000;
    transition: all .1s ease-out 10ms
}

.avatar--ready.creeper .eyes__x,.avatar--ready.creeper .eyes__y {
    backface-visibility: hidden;
    perspective: 1000;
    transition: all .3s ease-in-out
}

.avatar--ready .eyebrow {
    transition: all .36s ease-in-out
}

.avatar--ready .eyebrow,.avatar--ready .mouth path {
    backface-visibility: hidden;
    perspective: 1000
}
.bgmask {
    fill: var(--bg)
}

.mask--chin {
    clip-path: url(#clip--chin)
}

/* @media screen and (max-width: 512px) {
    .avatar .svg-stroke {
        stroke-width:.45vw
    }
} */

@media screen and (min-width: 513px)and (max-width:1200px) {
    .avatar .svg-stroke {
        stroke-width:2.5px
    }
}
.svg-pattern {
    fill: url(#pattern--stubble)
}

.layer * {
    backface-visibility: hidden
}
.layer div,.layer svg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 100%
}

.avatar--intro .avatar__animwrap {
    backface-visibility: hidden;
    transform-origin: center bottom;
    animation: bakedAvatar 1.5s cubic-bezier(.215,.61,.355,1) 1.25s backwards
}

.avatar--intro .eyebrows,.avatar--intro .hair,.avatar--intro .mouth,.avatar--intro .nose,.avatar--intro .shading {
    backface-visibility: hidden;
    animation: bakedSecondary 1.5s cubic-bezier(.215,.61,.355,1) 1.25s backwards
}

.avatar--intro .head__y {
    transform-origin: center 75%;
    animation: headIn .975s cubic-bezier(.215,.61,.355,1) 1.25s backwards
}

.avatar--intro .eyes__glasses {
    backface-visibility: hidden;
    transform-origin: center bottom;
    animation: bakedGlasses 1.5s ease-out 1.25s backwards
}
.avatar__animwrap {
    border-radius: 100%;
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backface-visibility: hidden;
    transform-origin: bottom center
}
@keyframes bakedAvatar {
    0% {
        opacity: 0;
        transform: scale(1.2337282615,.9459515515)
    }

    1% {
        transform: scale(1.2918607173,1.0306209681)
    }

    3% {
        transform: scale(1.3225012657,1.1003424939)
    }

    4% {
        transform: scale(1.3279217986,1.1529759485)
    }

    6% {
        transform: scale(1.2780508182,1.2053248387)
    }

    7% {
        transform: scale(1.2319227548,1.2071001777)
    }

    9% {
        transform: scale(1.1212535786,1.1731169371)
    }

    10% {
        transform: scale(1.065401853,1.1432184169)
    }

    12% {
        transform: scale(1.0139650316,1.1087997909)
    }

    14% {
        transform: scale(.9695373498,1.0727445662)
    }

    15% {
        transform: scale(.933868851,1.0375976325)
    }

    17% {
        transform: scale(.9078836758,1.0054553618)
    }

    18% {
        transform: scale(.8917480812,.9779011157)
    }

    20% {
        transform: scale(.8849762281,.9559832879)
    }

    21% {
        transform: scale(.8865612095,.9402307497)
    }

    23% {
        transform: scale(.8951191068,.9306989734)
    }

    25% {
        transform: scale(.909034912,.9270391878)
    }

    26% {
        transform: scale(.9266007455,.9285826319)
    }

    28% {
        transform: scale(.94613876,.9344322277)
    }

    29% {
        transform: scale(.9661032636,.9435547022)
    }

    31% {
        transform: scale(.9851587564,.9548672291)
    }

    32% {
        transform: scale(1.0022326142,.9673139193)
    }

    34% {
        transform: scale(1.0165429605,.9799288545)
    }

    35% {
        transform: scale(1.0276037641,.9918837191)
    }

    37% {
        transform: scale(1.0352103339,1.0025193646)
    }

    39% {
        transform: scale(1.0394091434,1.0113617679)
    }

    40% {
        opacity: 1;
        transform: scale(1.0404563112,1.0181237609)
    }

    42% {
        transform: scale(1.0387691198,1.0226946098)
    }

    43% {
        transform: scale(1.034874726,1.0251199696)
    }

    45% {
        transform: scale(1.0293597564,1.0255749681)
    }

    46% {
        transform: scale(1.0228238592,1.0243331865)
    }

    48% {
        transform: scale(1.0158395586,1.0217341395)
    }

    50% {
        transform: scale(1.0089199995,1.0181515542)
    }

    51% {
        transform: scale(1.0024954209,1.0139643429)
    }

    53% {
        transform: scale(.9968985163,1.009531703)
    }

    54% {
        transform: scale(.9923582464,1.0051732943)
    }

    56% {
        transform: scale(.9890012015,1.0011549741)
    }

    57% {
        transform: scale(.9868592659,.9976801467)
    }

    59% {
        transform: scale(.9858821306,.994886412)
    }

    60% {
        transform: scale(.9859531139,.9928469165)
    }

    62% {
        transform: scale(.9869067741,.9915755959)
    }

    64% {
        transform: scale(.9885469209,.9910353795)
    }

    65% {
        transform: scaleX(.9906638165)
    }

    67% {
        transform: scaleX(.9930495981)
    }

    68% {
        transform: scaleX(.9955112128)
    }

    70% {
        transform: scaleX(.9978804249)
    }

    71% {
        transform: scaleX(1.000020707)
    }

    73% {
        transform: scaleX(1.0018310571)
    }

    75% {
        transform: scaleX(1.0032469692)
    }

    76% {
        transform: scaleX(1.0042389329)
    }

    78% {
        transform: scaleX(1.004808938)
    }

    79% {
        transform: scaleX(1.0049855108)
    }

    81% {
        transform: scaleX(1.0048178258)
    }

    82% {
        transform: scaleX(1.0043694066)
    }

    84% {
        transform: scaleX(1.0037118824)
    }

    85% {
        transform: scaleX(1.0029191863)
    }

    87% {
        transform: scaleX(1.0020624986)
    }

    89% {
        transform: scaleX(1.0012061418)
    }

    90% {
        transform: scaleX(1.000404541)
    }

    92% {
        transform: scaleX(.9997002821)
    }

    93% {
        transform: scaleX(.9991232199)
    }

    95% {
        transform: scaleX(.9986905339)
    }

    96% {
        transform: scaleX(.9984075818)
    }

    to {
        transform: scale(1)
    }
}
.avatar-bg {
    position: relative;
    width: 100vw;
    height: 100%;
    
    display: flex;
    justify-content: center;
    padding-top: 10vh;
    overflow: hidden;
}
.avatar {
    position: absolute;
} 
.svg-stroke {
    fill: none;
    stroke: var(--line);
    stroke-width: 2.5px;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-miterlimit: 10;
    vector-effect: non-scaling-stroke
}
.svg-bg {
    fill: var(--bg)
}
.nav-bar{
    display: block;
    position: inherit;
    z-index: 4;
}
.filled-path,.filled-poly,.svg-fill {
    fill: var(--fill)
}
@media screen and (max-width: 992px) and (max-height:500px) {
    .avatar {
        width: auto;
        height: 60vh;
    }
    .avatar-bg {
        position: relative;
        width: 100vw;
        display: flex;
        justify-content: right;
        box-sizing: border-box;
        padding-right: 5vw;
        overflow: hidden;
    }
}
@media screen and (min-width:992px) {
    /* .avatar-bg {
        position: relative;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: right;
        right: 5vw;
        overflow: hidden;
    } */
    .avatar {
        left: 50vw;
    }
    .nav-bar{
        display: none;
    }
    .init{
        height: 100%;
    }
}